<%- include("header.ejs") %>
<body>
    <div class="container">
        <p class="not-found-error">Sorry, <%= cityName %> weather info was not found!</p>
    </div>
</body>
<%- include("footer.ejs") %>